<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> BlissBite - About</title>

  {% include 'cscript.html' %}

</head>
<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    {% include 'header.html' %}
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are BlissBite
              </h2>
            </div>
            <p>
              Welcome to <strong>BlissBite</strong>, where speed meets satisfaction! Our menu is a testament to our commitment to quality ingredients and bold flavors. Whether it's a mouthwatering burger or a refreshing salad, we offer a diverse selection to satisfy every craving.
              <br><br>
              At <strong>BlissBite</strong>, we understand that time is precious. Explore our user-friendly online platform to customize your order and have your favorite dishes delivered promptly to your doorstep. We prioritize quality ingredients, ensuring a delightful meal that exceeds expectations. Join us for a culinary journey where fast food meets gourmet quality. We look forward to serving you a memorable dining experience!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  {% include 'footer.html' %}
  <!-- footer section -->

  {% include 'jscript.html' %}

</body>

</html>